.ReturnButton__returnButtonUserProfile {
    cursor: pointer;
    background-color: #dbd8d8;
    color: #454545;
    padding: 10px 20px;
    position: relative;
    top: -60px;
    border-width: 0px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    box-shadow: -3px 5px 8px 0px rgba(84, 84, 84, 0.81);
}

.ReturnButton__returnButtonLikedRecipe {
    cursor: pointer;
    background-color: #dbd8d8;
    color: #454545;
    padding: 10px 20px;
    position: relative;
    top: 10px;
    border-width: 0px;
    border-radius: 8px;
    left: 85px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    box-shadow: -3px 5px 8px 0px rgba(84, 84, 84, 0.81);
}

.ReturnButton__returnButtonDisplayRecipe {
    cursor: pointer;
    background-color: #dbd8d8;
    color: #454545;
    padding: 10px 20px;
    position: relative;
    top: 5px;
    left: 85px;
    border-width: 0px;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    box-shadow: -3px 5px 8px 0px rgba(84, 84, 84, 0.81);
}

.ReturnButton__returnButton {
    cursor: pointer;
    background-color: #dbd8d8;
    border-width: 0px;
    color: #454545;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    top: -21px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: -3px 5px 8px 0px rgba(84, 84, 84, 0.81);
}
